<%- include('partials/header', { page: 'attendance', user: (typeof user !== 'undefined') ? user : {} }) %>

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Attendance</h1>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-column text-start mb-3">
                <h5>Period: from 1.4.23 to 30.4.23</h5>
                <br>
                <% if(!submitted){ %>
                <form class="d-flex" method="post" action="/<%= year_id%>/<%= dept_id %>/<%= subject %>/hrs_conducted">
                    <h6 class="me-2">No of Hour Conducted:</h6>
                    <input class="form-control me-2" name="hrs_conducted" type="number" placeholder="Enter no.of.hours" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Enter</button>
                </form>
                <% } %>
            </div>
            <form action="/save-attendance" method="POST">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Reg No</th>
                                <th>Name</th>
                                <th>No of Hour Conducted</th>
                                <th>No of Hours Attended</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (students.length > 0) { %>
                            <% students.forEach(function(student) { %>
                            <tr>
                                <td><%- student.student_id %></td>
                                <td><%- student.regno %></td>
                                <td><%- student.firstname %></td>
                                <td><%- student.hrs_conducted %></td>
                                <td>
                                    <% if (submitted) { %>
                                    <%- student.hrs_attended %>
                                    <% } else { %>
                                    <input type="number" name="attendedHours[<%- student.student_id %>]" required placeholder="Enter no.of.hours" max="<%- student.hrs_conducted %>">
                                    <% } %>
                                </td>
                                <td>
                                    <% if (student.percentage !== undefined && 1) {  %>
                                    <%- student.percentage %>
                                    <% if (student.hrs_conducted >0 && student.hrs_attended >0 &&  student.percentage < 75 ) {  %>
                                    <form class="d-flex" method="post" action="/sms" role="search">
                                        <button class="btn btn-outline-success" style="background-color: rgb(25, 0, 136); border: 0px; margin-left: 15px; color: aliceblue;">Send SMS</button>
                                    </form>
                                    <% } else { %>
                                    <% } %>
                                    <% } else { %>
                                    -
                                    <% } %>
                                </td>
                            </tr>
                            <% }) %>
                            <% } else { %>
                            <tr>
                                <td colspan="6">Data not found</td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <% if (!submitted) { %>
                <button type="submit" class="btn btn-primary float-right mt-3">Submit</button>
                <% } %>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
